{% extends "base.html" %}

{% block title %}
    Carrito | PC Hardware Store
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Mi carrito
</h1>

{% for item in carro.items.all %}
    <div class="card mb-3">
        <div class="card-body">

            <h5 class="card-title">
                {{ item.producto.marca }} {{ item.producto.nombre }}
            </h5>

            <p class="mb-1">
                Precio unitario:
                ${{ item.producto.precio }}
            </p>

            <p class="mb-1">
                Cantidad:
                {{ item.cantidad }}
            </p>

            <p class="mb-3">
                Subtotal:
                ${{ item.producto.precio|floatformat:0 }}
                × {{ item.cantidad }}
            </p>

            

            <form
                method="post"
                action="{% url 'carro-eliminar-html' item.id %}"
            >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                    Eliminar
                </button>
            </form>

            <div class="text-end mt-4">
                <form method="post" action="{% url 'checkout-html' %}">
                {% csrf_token %}

                    <button type="submit" class="btn btn-success btn-lg">
                        Confirmar compra
                    </button>
                </form>
            </div>
    

        </div>
    </div>

{% empty %}

    <div class="alert alert-info">
        Tu carrito está vacío.
    </div>

{% endfor %}

{% endblock %}